.card__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .4rem;
  overflow: hidden;
}

.card__icon{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin: 1rem;
}

p.card__name{
  color: #FFF;
  background: #000;
  
  margin: 0 .4rem;
  width: calc(100% - 2rem);
  height: 4rem;
  border-radius: 2rem 2rem 0 0;
  filter: drop-shadow(0 0 2px #FFFFFF99);

  display: flex;
  align-items: center;
  justify-content: center;
}